<html>
    <head>
        <title>Notas</title>
        <style>
        body {
        background-color: linen;
             }
        h1 {
        color: black;
        margin-left: 40px;
           }
        </style>
    </head>
    <body>
    <h1 align="center"> Notas </h1>
    <br>
   <form method="GET" action="/formulario">
   <label for="id_prioridad">Prioridad:</label>
        <select id="id_prioridad" name="get_prioridad">
            <option value="Todas">Todas</option>
            <option value="Alta">Alta</option>
            <option value="Normal">Normal</option>
            <option value="Baja">Baja</option>
        </select>
   <input type="submit" value="Filtrar">
</form>
    <p>
    <form style='display: inline;' method="POST" action="/anadir">
        {% csrf_token %}
        <label for="id_prioridad">Prioridad:</label>
        <select id="id_prioridad" name="name_prioridad">
                <option value="Alta">Alta</option>
                <option value="Normal">Normal</option>
                <option value="Baja">Baja</option>
        </select>
        <br>
        <input type="text" name="nombre_titulo" placeholder="Titulo" size="27"><br>
        <textarea name="name_nota" id="id_new_item" cols="40" rows="5" placeholder="Escribe tu nota aquí"></textarea>
        <br>
        <input type="submit" value="Guardar">
    </form>
    <form style='display: inline;' method="POST" action="/borrar">
        {% csrf_token %}
        <input type="submit" value="Borrar Notas">
    </form>
     {% for nota in notas %}
        <fieldset>
            <legend><b> {{ nota.prioridad }} - {{ nota.titulo }} </b></legend>
            {{ nota.contenido }} <br>
        </fieldset>
    {% endfor %}
    </body>

</html>