<!DOCTYPE html>
<html>
<body>

<Marquee>
<p align="center"><font size="40" color="green"><u><b><i>RECETAS</u></b></i>
</Marquee>
</font>

<a href="{% url 'home' %}"> Home</a>&nbsp;<br>

<ul>
		<li><a href="{% url 'flor' %}"> Flor de Calabacín </a><br>
		<li><a href="{% url 'gazpacho' %}"> Gazpacho </a><br>
		<li><a href="{% url 'noodles' %}"> Sopa de Noodle </a><br>
		<li><a href="{% url 'feijoada' %}"> Feijoada </a><br>
        <li><a href="{% url 'pizza' %}"> Pizza </a><br>
        <li><a href="{% url 'menuinf' %}"> Menú Infantil </a><br>
        <li><a href="{% url 'recetafacil' %}"> Receta Fácil </a><br>
        <li><a href="{% url 'ensaladilla' %}"> Ensaladilla Rusa </a><br>
        <li><a href="{% url 'carbonara' %}"> Carbonara </a><br>
        <li><a href="{% url 'canelon' %}"> Canelon </a><br>
        <li><a href="{% url 'mafe' %}"> Mafe </a><br>
		</ul>

</body>
</html>